/* position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -0%);
text-align: center;
color: white;
font-weight: bold;
font-size: 3rem;
animation: slideUp 2s ease forwards;
} */
.header_title{
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
}

.Description{
    position: absolute;
    top:42%;
    left:10%;

}